{
  "extends": "standard",
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": "*.md",
      "plugins": [
        "markdown"
      ],
      "rules": {
        "no-unused-vars": "off",
        "no-console": "off",
        "no-undef": "off"
      }
    },
    {
      "files": ["test/**/*.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
